<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.ClientInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.ClientInfo">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="organization" property="organization" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="computer_code" property="computerCode" />
        <result column="recom_username" property="recomUsername" />
        <result column="recom_phone" property="recomPhone" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, organization, email, phone, computer_code AS computerCode, recom_username AS recomUsername, recom_phone AS recomPhone
    </sql>

</mapper>
